---
import { Icon } from "astro-icon/components";
import { Image } from 'astro:assets';
import type { Work } from "../../types";
import { experiences } from '../../data/images.json'

interface Props {
    work: Work;
    index: number
}

const { work, index } = Astro.props;
---
<div class={`card my-5 ${work.isActive && 'isActive'}`}>
    <div class="row g-0">
        <div class="col-md-4">
            <Image src={experiences[work.companyLogo]}
                   alt={work.company} class={'companyImage'} width={225} height={225}/>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class={'fw-bold text-left'}>{work.title}</h3>
                <div class={'row'}>
                    <div class={'col-7'}>
                        <h5>{work.company}</h5>
                    </div>
                    <div class={'col-5 text-end'}>
                        <Icon name="mdi:map" class={'mx-2'}
                              data-bs-toggle={`tooltip_place_${index}`}
                              data-bs-placement="top"
                              title={work.place} style={{ cursor: 'pointer' }}/>
                        <Icon name="mdi:calendar" class="mx-2"
                              data-bs-toggle={`tooltip_time_${index}`}
                              data-bs-placement="top" style={{ cursor: 'pointer' }}
                              title={`${work.from} ${work.to ? `- ${work.to}` : ''}`}/>
                    </div>
                </div>
                <h6 class={'text-left'}>{work.description}</h6>
                <ul>
                    {work.tasks.map((task) =>
                            <li class={'pt-1'}>{task}</li>)}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .isActive {
        border: 5px solid rgba(30, 150, 50, 0.2);
        box-shadow: 0 0 0 0.25rem rgba(30, 150, 50, 0.2);
    }

    .card {
        object-fit: cover;
        box-shadow: 5px 5px 5px #eee;
    }

    .companyImage {
        width: 100%;
        height: 225px;
        object-position: center;
        object-fit: cover;
    }
</style>